section#example.example
    .container
        .example-wrap
            h3.heading(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0" data-aos-duration="1500") Примеры работ
            .example-block
                .row
                    .col-sm-5
                        img(src='images/example/example.png' alt='' data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0" data-aos-duration="1500" )
                    .col-sm-6
                        .example-block__text(data-aos="fade-left"  data-aos-duration="1500"   )
                            .sub-heading Тимофей Колесников #[em (it – специалист)]
                            .text Никогда не находил достаточного времени, чтобы ухаживать за зубами. В итоге, к моменту визита потерял 12 коренных зубов. 8 были с глубоким кариесом.

                            .sub-heading Задача
                            .text Тотальная стоматологическаяреабилитация пациента с использованием 5-ти дентальных имплантатов и 28 керамических реставраций/виниров. Наращивание костной ткани и пластика десны.

                            .sub-heading Результат
                            .text За одно посещение пациенту выполнен весь объем хирургических мероприятий – удаление 5-ти зубов, установка 5-ти имплантатов, костная пластика и пластика десны. Протезирование выполнено в один этап после наступления приживления имплантатов. Полное медикаментозное сопровождение.

            .example-block
                .row
                    .col-sm-5
                        img(src='images/example/example1.png' alt='' data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0" data-aos-duration="1500" )
                    .col-sm-6
                        .example-block__text(data-aos="fade-left"  data-aos-duration="1500"   )
                            .sub-heading  Дмитрий Кирриленко #[em (бизнесмен)]
                            .text Никогда не находил достаточного времени, чтобы ухаживать за зубами. В итоге, к моменту визита потерял 12 коренных зубов. 8 были с глубоким кариесом.

                            .sub-heading Задача
                            .text Полное восстановление двух челюстей. Установка 8-ми имплантатов на каждую челюсть. Наращивание костной ткани в боковых отделах верхней и нижней челюстей. Пластика десны в области верхней и нижней челюстей. Новые зубы сразу после операции.

                            .sub-heading Результат
                            .text За одно посещение пациенту выполнен весь объем хирургических мероприятий – удаление зубов, установка имплантатов, костная пластика и пластика десны. Протезирование выполнено в один этап после наступления приживления имплантатов. Полное медикаментозное сопровождение.

            .example-block
                .row
                    .col-sm-5
                        img(src='images/example/example2.png' alt='' data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0" data-aos-duration="1500" )
                    .col-sm-6
                        .example-block__text(data-aos="fade-left"  data-aos-duration="1500"   )
                            .sub-heading Екатерина Ульянова  #[em (буxгалтер)]
                            .text Никогда не находил достаточного времени, чтобы ухаживать за зубами. В итоге, к моменту визита потерял 12 коренных зубов. 8 были с глубоким кариесом.

                            .sub-heading Задача
                            .text Тотальная стоматологическаяреабилитация пациента с использованием 5-ти дентальных имплантатов и 28 керамических реставраций/виниров. Наращивание костной ткани и пластика десны.

                            .sub-heading Результат
                            .text За одно посещение пациенту выполнен весь объем хирургических мероприятий – удаление 3-х зубов, установка 6-ти имплантатов, костная пластика и пластика десны. Протезирование выполненов один этап после наступления приживления имплантатов. Полное медикаментозное сопровождение.