footer#footer.footer
    .footer-main
        .bg-image(data-bgimage='images/footer.jpg')
        .footer-main__inner.container
            .heading Контакты
            .footer-list
                .footer-list__line
                    .sub-heading Приходите на консультацию:
                    .text Москва, ул. Верхняя Красносельская д. 9 офис 3

                .footer-list__line
                    .sub-heading Звоните нам:
                    .text #[span #[a(href='74951202700') +7 (495) 120-27-00 ] — Ресепшн 1]  #[span #[a(href='79150228844') +7 (915) 022-88-44 — Ресепшн 2]]

                .footer-list__line
                    .sub-heading Пишите нам письма:
                    .text #[span #[a(href='mailto:info@maneclinic.ru') info@maneclinic.ru ]]
            .center-container
                a.modal.btn.btn--large.spacer--small.btn--accent(href='#formWrap') Записаться на консультацию

    include footerCopyright/footerCopyright

