section.poster
    .poster__bg.bg-image(data-bgimage='images/slideImage/slide.jpg')
    .container
        .poster__inner
            .poster__text
                .heading Уже через 2 часа вы проснетесь с новыми шведскими имплантами Nobel Biocare
                .sub-heading Европейская методика имплантации во сне: без боли, #[br] дискомфорта и с пожизненной гарантией
                a#modal.btn.btn--large.spacer--small.btn--accent(href='#formWrap') Записаться на консультацию
            a.btn.btn--phone.btn--accent.btn--ripple(href='#')











