section#clients.clients
    .container(data-aos="fade-down-right"  data-aos-duration="2000" data-aos-easing="ease-out-cubic")
        h3.heading Одноэтапная имплантация подойдет
        .clients-wrap
            .row
                .col-sm-4
                    .clients-block
                        img(src='images/clients/clients1.png' alt='')
                        .sub-heading Для тех, кто не любит улыбаться
                        .text Считают, что их улыбка некрасивая. Думают, что окружающие, глядя на их улыбку, подумают   "ой, какие запущенные зубы"

                .col-sm-4
                    .clients-block
                        img(src='images/clients/clients2.png' alt='')
                        .sub-heading Для тех, кто не может наслаждаться пищей
                        .text Приходится есть только одной стороной или только здоровыми зубами

                .col-sm-4
                    .clients-block
                        img(src='images/clients/clients3.png' alt='')
                        .sub-heading Для тех, кому некогда заниматься зубами
                        .text Постоянно откладываете на потом. Идете к стоматологу только, когда уже невозможно больше терпеть



