.poster
  position: relative

.poster__inner
  position: relative
  min-height: 660px

.poster__inner .btn--phone
  z-index: 2
  position: absolute
  bottom: 25px
  right: 10px

.poster__text .text,
.poster__text .heading,
.poster__text .sub-heading
  text-align: left

.poster__text .heading
  margin-bottom: 10px

@media screen and (min-width: $screen-md)
  .poster__text
    padding: 0 145px
    text-align: center

  .poster__inner
    position: relative
    min-height: 660px
    padding: 45px 0
