script(src="./js/jquery-3.1.1.min.js")
script(src="./js/jquery/plugins/slick/slick.min.js")
script(src="./js/jquery/plugins/aos/aos.js")
script(src="./js/jquery/plugins/slick/slick.min.js")
script(src="./js/jquery/plugins/magnific-popup/jquery.magnific-popup.js")
script(src="./js/jquery/plugins/textarea-autoresize/autosize.js")
<!-- Google Tag Manager (noscript) -->
noscript
    iframe( src="https://www.googletagmanager.com/ns.html?id=GTM-5PPN5CT" height="0" width="0" style="display:none;visibility:hidden")
<!-- End Google Tag Manager (noscript) -->





