header#header.header
    .container
        .header__top-bar
            .header-logo
                a(href="#")
                    img.header-logo__img(src="images/logo.png", alt="")
            nav#headerTopNav.header__top-nav
                button#headerTopBtn.header__top-btn(type="button")
                    span
                    span
                    span
                //span.header__top-ttl Меню
                #headerTopMenu.header__top-menu
                    .container
                        .header__menu-inner
                            ul#menu.header__top-menu-list
                                li
                                    a(href="#poster") Для кого
                                li
                                    a(href="#tech") Почему вам это нужно
                                li
                                    a(href="#example") Примеры работ
                                li
                                    a(href="#price") Цены
                                li
                                    a(href="#consultation") Консультация
                                li
                                    a(href="#footer") Контакты
            .header__top-info
                ul.header__top-info-list
                    li
                        a.tel(href="tel:74951202700") +7 (495) 120-27-00
                    li
                        a.btn.btn--small.btn.btn--accent(href="#") Заказать звонок




