section#tech.tech(data-aos="fade-up"  data-aos-duration="2000" data-aos-easing="ease-out-cubic")
    .container
        h3.heading Имплантация, костная пластика и пластика десны в нашей клинике могут быть произведены в один этап, потому что:
        .tech-block.row
            .col-sm-6
                img(src='images/tech/tech1.png' alt='' data-aos="flip-left" data-aos-duration="1500")
            .col-sm-6
                .tech-block__text
                    .sub-heading Вам будут установлены импланты фирмы Nobel Biocare.
                    .text Их конструкция - это воплощение современных достижений в области медицины и инжинерии.
        h3.heading.col-center.col-sm-8.col-lg-7 Одноэтапная имплантация сделает вашу улыбку красивой, потому что:
        .tech-block.row
            .col-sm-6
                .tech-block__text
                    .sub-heading Импланты выглядят, как настоящие зубы.
                    .text Отличить импланты от настоящих зубов практически невозможно без специального стоматологического оборудования.
            .col-sm-6
                img(src='images/tech/tech.png' alt='' data-aos="flip-right" data-aos-duration="1500")
        .tech-block.row
            .col-sm-6
                img(src='images/tech/tech3.png' alt='' data-aos="flip-left" data-aos-duration="1500")
            .col-sm-6
                .tech-block__text
                    .sub-heading Срок службы имплантов, установленных в нашей клинике — пожизненный.
                    .text В случае, если имплант не приживется,  проводится бесплатная повторная установка.
                    a.modal.btn.btn--large.spacer--small.btn--accent(href='#formWrap') Записаться на консультацию


