section#consultation.consultation
    .container
        h3.heading Как проходит консультация
        .consultation-wrap
            .consultation__item
                .consultation__item-time
                    .consultation__time-step 1
                    .consultation__time-ttl 20 мин
                .consultation__item-text
                    .sub-heading Очная консультация в клинике (4000руб)
                    .text Первичный осмотр #[br ] Сессия вопросов и ответов #[br ] Демонстрация фото и видеоматериала похожих случаев из нашей практики
            .consultation__item
                .consultation__item-time
                    .consultation__time-step 2
                    .consultation__time-ttl 20 мин
                .consultation__item-text
                    .sub-heading Дентальная фотосъемка и рентгендиагностика
                    .text Первичный осмотр #[br ]  Серия дентальных фотографий и прицельных рентгенограмм #[br ] Инструментальный осмотр полости рта
            .consultation__item
                .consultation__item-time
                    .consultation__time-step 3
                    .consultation__time-ttl 20 мин
                .consultation__item-text
                    .sub-heading Изготовление диагностической модели зубов
                    .text Снятие слепков с челюстей  для изготовления гипсовых моделей #[br ] Анализ клинической ситуации на моделях.

        a.modal.btn.btn--large.spacer--small.btn.btn--accent(href='#formWrap' ) Записаться на консультацию






