.message
    .container
        .message-wrap
            .row
                .col-sm-6
                    .message-dialog
                        .message__line-in(data-aos="fade-right"  data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="300")
                            .message-dialog__inbox Доктор, в целом все хорошо. Однако присутствует легкая болезненность
                        .message__line-out(data-aos="fade-left"  data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="500")
                            .message-dialog__outbox Примите обезболивающее, которое вам выдано в клинике. Вам станет легче.
                        .message__line-out(data-aos="fade-left"  data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="700")
                            .message-dialog__outbox Это нормальная реакция.
                        .message__line-in(data-aos="fade-right"  data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="900")
                            .message-dialog__inbox Спасибо. Так и сделаю.
                .col-sm-6
                    .message-info
                        .sub-heading После визита в клинику обеспечиваем вам поддержку 24\7
                        .text Мы бесплатно предоставляем все необходимые лекарства и консультируем по любым вопросам
                        a.btn.btn--large.spacer--small.btn.btn--accent(href='#') Записаться на консультацию
