.message
    .container
        .message-wrap
            .row
                .col-sm-6
                    .message-dialog
                        .message__line-in
                            .message-dialog__inbox Доктор, в целом все хорошо. Однако присутствует легкая болезненность
                        .message__line-out
                            .message-dialog__outbox Примите обезболивающее, которое вам выдано в клинике. Вам станет легче.
                        .message__line-out
                            .message-dialog__outbox Это нормальная реакция.
                        .message__line-in
                            .message-dialog__inbox Спасибо. Так и сделаю.
                .col-sm-6
                    .message-info
                        .sub-heading После визита в клинику обеспечиваем вам поддержку 24\7
                        .text Мы бесплатно предоставляем все необходимые лекарства и консультируем по любым вопросам
                        a.modal.btn.btn--large.spacer--small.btn.btn--accent(href='#formWrap') Записаться на консультацию
