.message
    .container
        .message-wrap
            .row
                .col-sm-6
                    .message-dialog
                        .message__line-in(data-aos="fade-up"  data-aos-duration="1500"    )
                            .message-dialog__inbox Доктор, в целом все хорошо. Однако присутствует легкая болезненность
                        .message__line-out(data-aos="fade-up"  data-aos-duration="1500"  data-aos-delay="300"  )
                            .message-dialog__outbox Примите обезболивающее, которое вам выдано в клинике. Вам станет легче.
                        .message__line-out(data-aos="fade-up"  data-aos-duration="1500"   data-aos-delay="600" )
                            .message-dialog__outbox Это нормальная реакция.
                        .message__line-in(data-aos="fade-up"  data-aos-duration="1500"   data-aos-delay="900" )
                            .message-dialog__inbox Спасибо. Так и сделаю.
                .col-sm-6
                    .message-info(data-aos="fade-left"  data-aos-duration="1500"   )
                        .sub-heading После визита в клинику обеспечиваем вам поддержку 24\7
                        .text Мы бесплатно предоставляем все необходимые лекарства и консультируем по любым вопросам
                        a.modal.btn.btn--large.spacer--small.btn.btn--accent(href='#formWrap') Записаться на консультацию
