section.procedure
    .container
        h3.heading При установке имплантов в нашей клинике Вы не почувствуете боли и дискомфорта, потому что:
        .procedure-wrap
            .row
                .col-sm-6
                    .procedure-block
                        img(src='images/procedure/procedure1.png' alt='')
                        .sub-heading Все процедуры проводятся под седацией — во сне
                        .text Вы заснете, а после проснетесь уже с новыми имплантами!
                .col-sm-6
                    .procedure-block
                        img(src='images/procedure/procedure2.png' alt='')
                        .sub-heading В работе  используются медикаменты фирм 3M ESPE, Ultradent, Kerr, Ivoclar Vivadent
                        .text Из оборудования Carl Zeiss, Sirona, Melag
            .row
                .col-sm-6
                    .procedure-block
                        img(src='images/procedure/procedure3.png' alt='')
                        .sub-heading Мы работаем в авторской концепции 'Все в один этап (с) VV1E.
                        .text Что позволяет добиваться цели без боли и за максимально короткий срок
                        em.text Главный врач Эдуард Анчаков
                .col-sm-6
                    .procedure-block
                        img(src='images/procedure/procedure4.png' alt='')
                        .sub-heading Это дает гарантию полного комфорта и безболезненности любой процедуры
                        .text