#licens.licens
    .slider-wrap
        .slider-nav
            div
                img(src='images/licens/licens1.jpg' alt='')
            div
                img(src='images/licens/licens2.jpg' alt='')
            div
                img(src='images/licens/licens3.jpg' alt='')
        .slider-for
            div
                img(src='images/licens/licens1.jpg' alt='')
            div
                img(src='images/licens/licens2.jpg' alt='')
            div
                img(src='images/licens/licens3.jpg' alt='')

