section.price
    .container
        h3.heading Услуги и цены
        .price-wrap
            .price__item(data-aos="flip-right" data-aos-duration="1500" data-aos-delay="300")
                .sub-heading Одноэтапная имплантация
                .text Коплексная диагностика #[br] Установка импланта Nobel Biocare #[br] Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 50 000
                a.btn.btn--middle.btn--transparent(href='#') Записаться на прием

            .price__item(data-aos="flip-right" data-aos-duration="1500" data-aos-delay="500")
                .sub-heading Синус-лифтинг
                .text Коплексная диагностика #[br] Наращивание костной ткани #[br] Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 35 000
                a.btn.btn--middle.btn--transparent(href='#') Записаться на прием

            .price__item(data-aos="flip-right" data-aos-duration="1500" data-aos-delay="700")
                .sub-heading Пластика десны
                .text Коплексная диагностика #[br] Увеличение объема десны #[br]  Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 20 000
                a.btn.btn--middle.btn--transparent(href='#') Записаться на прием

            .sub-heading




