section#price.price
    .container
        h3.heading Услуги и цены
        .price-wrap
            .price__item
                .sub-heading Одноэтапная имплантация
                .text Коплексная диагностика #[br] Установка импланта Nobel Biocare #[br] Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 50 000 #[span ₽]
                a.modal.btn.btn--middle.btn--transparent.btn--full(href='#formWrap') Записаться на прием

            .price__item
                .sub-heading Синус-лифтинг
                .text Коплексная диагностика #[br] Наращивание костной ткани #[br] Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 35 000 #[span ₽]
                a.modal.btn.btn--middle.btn--transparent.btn--full(href='#formWrap') Записаться на прием

            .price__item
                .sub-heading Пластика десны
                .text Коплексная диагностика #[br] Увеличение объема десны #[br]  Поддержка после приема 24\7 #[br] Обеспечение необходимыми медикаментами
                .price__item-cost от 20 000 #[span ₽]
                a.modal.btn.btn--full.btn--middle.btn--transparent(href='#formWrap') Записаться на прием

            p.sub-heading Все манипуляции могут быть проведены во сне. Стоимость 1 часа седации - 8000 руб. #[br] На все услуги возможна рассрочка #[br]  Скидка 10% при оплате всей суммы за раз




